/* your code here */

.ga{
	height:250px;
	width:250px;
	
	padding:10px;

}
.photo-main{
height:300px;
	width:300px;
	display:flex;

	
}
.price{
	color:red;
	font-size:20px;
	
}
.sp{
	font-size:30px;
	color:red;

}

.title{

	padding:10px;

}
.ta,.ca{
	display:flex;
	flex-direction:row;
	
}

.photo-album{
	display:flex;
	flex-direction:column;
	
}
.product__info{
	
	display:flex;
	flex-direction:column;
	order:2;
}
.product{
	display:flex;
	flex-direction:row;

}
.photo-main{
	
}

.photo-album{
	display:flex;
	flex-direction:column;
	
}
.product__photo{
	order:1;
	
}
.controls{
	display:flex;
	flex-direction:column;
	
	
}
