/* your code here */
*{ background-color:lightgreen;}
.ga{
	height:300px;
	width:300px;
	background-color:lawngreen;
	padding:10px;

}
.photo-main{
height:300px;
	width:300px;
	display:flex;
	flex-direction:column;
	
}
.price{
	color:red;
	font-size:20px;
}
.sp{
	font-size:30px;
	color:red;
}

.title{
	background-color:white;
	padding:10px;
	display:flex;
	flex-direction:column;
}
.ta,.ca{
	display:flex;
	flex-direction:row;
}
.variant{
	display:flex;
	flex-direction:column;


}
.photo-album{
	display:flex;
	flex-direction:column;
	background-color:white;
}
.product__info{
	background-color:white;
	height:500px;
	width:300px;
	display:flex;
	flex-direction:column;
	order:2;
}
.product{
	display:flex;
	flex-direction:row;
}

.benifits{
	background-color:white;
}
.photo-main{
	display:flex;
	flex-direction:column;
}
.photo-container
{
	background-color:white;
}
.photo-album{
	display:flex;
	flex-direction:column;
}
.product__photo{
	order:1;
}
.controls{
	display:flex;
	flex-direction:column;
	
}
